* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  display: flex; /* 親要素をFlexboxにする */
  justify-content: center; /* 横を中央揃えにする */
  align-items: center; /* 縦を中央揃えにする */
}
