* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(163, 114, 24);
}

header {
  display: flex; /* 親要素をFlexboxにする */
  justify-content: center; /* 横を中央揃えにする */
  align-items: center; /* 縦を中央揃えにする */
}

#file-dropping {
  display: flex; /* 親要素をFlexboxにする */
  justify-content: center; /* 横を中央揃えにする */
  align-items: center; /* 縦を中央揃えにする */
  flex-direction: column;
  margin: 30px;

  #file-dropping__area {
    background-image: url(../resource/FileDroppingArea.png);
    width: 200px;
    height: 200px;
    background-size: cover;
  }

  #file-dropping__target {
    margin: 30px;
    text-align: center;
    background-color: green;
  }
}
